<?xml version="1.0" encoding="UTF-8"?>
<?init class="org.zkoss.zk.ui.util.Composition" arg0="~./mainShell.zul"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<?link rel="stylesheet" type="text/css" href="/resources/css/qsys.css"?>

<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>
<zk xmlns="http://www.zkoss.org/2005/zul">

    <vbox width="100%" height="100%" style="border:0px solid black;" align="center" pack="center" self="@{define(main_window_data)}">
        <vbox width="${config.screenFinishVboxWidth}">
            <hbox>
                <label sclass="name_label" value="${c:l('number')}"/>
                <label sclass="name_label" value="${client.advClient.id}"/>
            </hbox>
            <hbox>
                <label sclass="name_label" value="${c:l('selected_time')}"/>
                <label sclass="name_label" value=" ${client.day} "/>
                <label sclass="name_label" value=" ${c:l('to')} "/>
                <label sclass="name_label" value="  ${client.finishT}"/>
            </hbox>
            <label sclass="labelstyle" value=" "/>
            <hbox>
                <label sclass="name_label2" value="${c:l('selected_service')}"/>
                <label sclass="name_label2" value="${client.service}"/>
            </hbox>
            <hbox visible="${client.inputData!=null and ''!=client.inputData}">
                <label sclass="name_label2" value="${client.service.inputCaption}"/>
                <label sclass="name_label2" value="${client.inputData}"/>
            </hbox>
            <label sclass="labelstyle" value=" "/>

            <label sclass="notice5" visible="${client.service.preInfoHtml!=null and ''!=client.service.preInfoHtml}" value="${c:l('info')}"/>
            <html><![CDATA[${client.service.preInfoHtml}]]>
            </html>
            <label sclass="labelstyle" value=" "/>

            <hbox visible="${config.fieldNameEnable}">
                <label sclass="name_label3" value="${client.name}"/>
                <label sclass="name_label3" value="${client.sourname}"/>
                <label sclass="name_label3" value="${client.middlename}"/>
            </hbox>
            <hbox visible="${config.fieldEmailEnable}">
                <label sclass="name_label3" value="${client.email}"/>
            </hbox>
            <hbox visible="${config.fieldPhoneEnable}">
                <label sclass="name_label3" value="${client.phone}"/>
                <label sclass="name_label3" value=" "/>
            </hbox>
            <hbox visible="${config.field1Enable}">
                <label sclass="name_label3" value="${config.field1Caption}"/>
                <label sclass="name_label3" value=" "/>
                <label sclass="name_label3" value="${client.field1}"/>
            </hbox>
            <hbox visible="${config.field2Enable}">
                <label sclass="name_label3" value="${config.field2Caption}"/>
                <label sclass="name_label3" value=" "/>
                <label sclass="name_label3" value="${client.field2}"/>
            </hbox>
            <hbox visible="${config.field3Enable}">
                <label sclass="name_label3" value="${config.field3Caption}"/>
                <label sclass="name_label3" value=" "/>
                <label sclass="name_label3" value="${client.field3}"/>
            </hbox>
            <hbox visible="${config.field4Enable}">
                <label sclass="name_label3" value="${config.field4Caption}"/>
                <label sclass="name_label3" value=" "/>
                <label sclass="name_label3" value="${client.field4}"/>
            </hbox>
            <hbox visible="${config.field5Enable}">
                <label sclass="name_label3" value="${config.field5Caption}"/>
                <label sclass="name_label3" value=" "/>
                <label sclass="name_label3" value="${client.field5}"/>
            </hbox>

        </vbox>


        <hbox pack="center">
            <zscript language="java">
                void printBrowser(){
                Clients.print();
                }
            </zscript>
            <button label="${c:l('print')}" width="100px" height="30px" onClick="java:printBrowser()"/>
        </hbox>
    </vbox>

</zk>
