﻿<head>
    <meta charset="utf-8">
    <title>{{client.caption}}</title>
</head>
<body>
<h2>{{client.title}}</h2>

<h3>Здравствуйте {{client.name}} {{client.middlename}} {{client.sourname}}.</h3>
<br>
Вы зарегистрированы предварительно для получения услуги "{{client.service.name}}"<br>
Номер регистрации <strong>{{client.advClient.id}}</strong><br>
Этот номер необходимо ввести при получении талона на киоске регистрации, не потеряйте его.<br>
Вам необходимо прийти <strong>{{client.day}} к "{{client.finishT}}"</strong><br>
{{#client.inputData}}
{{client.service.inputCaption}}: {{client.inputData}}<br><br>
{{/client.inputData}}
{{client.service.preInfoHtml}}<br><br>
Это письмо выслано автоматически. Не отвечайте на него.<br><br>
QSystem - Copyright 2020 Apertum Projects
</body>
</html>